<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fractal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <Fractal.Properties.Settings>
                <setting name="WindowLocation" serializeAs="String">
                        <value>250, 250</value>
                </setting>
                <setting name="WindowSize" serializeAs="String">
                        <value>670, 450</value>
                </setting>
                <setting name="hue" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="saturation" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="brightness" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="bg" serializeAs="String">
                        <value>255</value>
                </setting>
                <setting name="xzoom" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="yzoom" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="xstart" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ystart" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="track_scoll" serializeAs="String">
                        <value>False</value>
                </setting>
        </Fractal.Properties.Settings>
    </userSettings>
</configuration>